.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100vw;
  height: 60px;
  left: 0px;
  top: 0px;

  background: #003F63;

  height: auto;
}

.container p{
  font-size: 20px;
  font-weight: bold;
  color: #D9D9D9;
 
  padding: 15px;

  flex: 1;
}

.container img {
  height: 40px;
  width: 80px;

  margin-right: 20px;
}

@media (max-width: 400px){
  .container p{
    font-size: 15px;
    font-weight: bold;
  }

  .container img {
    height: 40px;
    width: 60px;
  }
}